body {
  margin: 0;
}

input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.p-20 {
  padding: 20px;
}

.mt-60 {
  margin-top: 60px;
}

.cursor-pointer {
  cursor: pointer;
}

.logo {
  font-weight: bold;
}

.navbar {
  background: white;
  padding: 20px;
}

.navbar a,
.navbar span {
  margin-right: 15px;
}

.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}

.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}

.list-item p {
  color: grey;
  margin: 5px 0px;
}

.list-item-div {
  display: flex;
  align-items: center;
}

.list-item-div h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
  margin-right: 20px;
}

.list-item-div p {
  font-size: 20px;
  margin: 0;
  margin-right: 20px;
}

.dark-mode .navbar,
.dark-mode .p-20,
.dark-mode .list-item {
  background: #222;
  color: white;
}

.dark-mode .navbar a,
.dark-mode .p-20 a,
.dark-mode .list-item a {
  color: white;
}

.dark-mode .list-bg {
  background: #222;
}

.dark-mode .list-item p {
  color: lightgrey;
}
